.deck-container {
  font-size: 2em;
  padding: 0 5px;
  width: 100%;
  color:black;
}

.syntaxhighlighter {
	font-size:0.9em !important;
}

.smaller {
	font-size:0.7em !important;
}

.slide h2 {
	font-size:1.4em;
}

.slide h1 {
	font-size:2.5em;
}

.slide ul {
	margin-bottom:0;
}

.deck-container .slide code {
	color: black;
}

.attribution {
	display: block;
	position: fixed;
	bottom: 10px;
	left: 10px;
	z-index: 100; 
	font-size:0.6666em;
}

@media screen {
	img.fill {
		position:fixed;
		top:0;
		left:0; 
		min-width:100%;
		min-height:100%;
	}
}

